/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	background-color: rgba(0, 0, 0);
	font-family: 'Noto Serif', serif;
}

.section {
	padding-top: 35px;
}

.white {
	background: black !important;
}

h5,
.card .card-content .card-title {
	color: greenyellow !important;
	margin-bottom: 15px;
}

#portfolioheader {
	color: greenyellow;
}

h2 {
	color: rgb(23, 105, 228);
}

.card {
	color: greenyellow;
	background-color: rgba(0, 0, 0, 0.75);
}

.card-reveal {
	background-color: rgb(65, 65, 65) !important;
	color: greenyellow;
}

p {
	color: silver;
}

/* .card.small .card-image {
	max-height: 80%;
	padding: 20px;
} */

#projectbutton {
	background-color: greenyellow;
	color: black;
}

#codebutton {
	background-color: rgb(85, 88, 95);
}

.btn:hover {
	background-color: steelblue;
}

#contactinfoheader {
	color: cyan;
}

#connectlinks {
	padding-left: 150px;
}

nav ul a,
nav .brand-logo {
	color: rgb(23, 105, 228);
}

p {
	line-height: 2rem;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.page-footer .footer-copyright {
	color: rgb(172, 211, 243);
	background-color: rgb(39, 39, 39);
}
